<a href="https://colab.research.google.com/github/LangqingZou/Math-509/blob/master/preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import pylab as pl
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor

# Data pre-process

In [15]:
columns = ['CNTRYID','CNTSCHID','GFOFAIL','WEALTH','RESILIENCE','BELONG','SWBP','ST004D01T','IC001Q04TA','ESCS','EMOSUPS','SWBP','W_FSTUWT']
data = pd.read_csv('drive/MyDrive/Math_509_Project/CY07_MSU_STU_QQQ.csv',usecols=columns) 
# weight = pd.read_csv('drive/MyDrive/Math_509_Project/CY07_MSU_STU_QQQ.csv',usecols=['W_FSTUWT'])
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (17,323,871) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CNTRYID,CNTSCHID,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,W_FSTUWT
0,8,800002,2,1,.6747,-0.0996,0.2127,-0.6870,1.2386,0.3693,-0.2133,13.51452
1,8,800002,2,2,-.7566,-0.7221,-2.0851,-0.6133,1.2386,-0.4684,-0.0845,13.51452
2,8,800002,1,3,-2.5112,-3.6051,0.6364,-0.6133,1.2386,-1.5248,-0.0824,9.50669
3,8,800002,2,1,-3.1843,-7.0376,1.0346,-0.6870,0.1869,-0.0614,-0.0358,13.51452
4,8,800002,2,1,-1.7557,-1.8375,-0.6576,0.1097,1.2386,2.3693,0.1704,13.51452

In [ ]:
# df = pd.DataFrame(data)
# df.to_csv("data.csv")

In [16]:
data.dtypes

CNTRYID         int64
CNTSCHID        int64
ST004D01T      object
IC001Q04TA     object
ESCS           object
WEALTH        float64
EMOSUPS       float64
GFOFAIL       float64
SWBP          float64
RESILIENCE    float64
BELONG        float64
W_FSTUWT      float64
dtype: object

In [18]:
# only contain Asia countries
# 158: taibei, 344: hongkong, 392: japan, 410: korea, 446: macao, 458: Malaysia, 702: Singapore, 704: vietnam, 764: thailand, 975: china
df = pd.DataFrame(data)
# df = df.loc[(df['CNTRYID']==344) or (df['CNTRYID']==392) or (df['CNTRYID']==410) or (df['CNTRYID']==446) or (df['CNTRYID']==458) or (df['CNTRYID']==702) or (df['CNTRYID']==704) or (df['CNTRYID']==764) or (df['CNTRYID']==975)]
df = df.loc[df['CNTRYID'].isin([344, 392, 410, 446, 458, 702, 704, 764, 975])]

In [19]:
df

,CNTRYID,CNTSCHID,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,W_FSTUWT
257906,344,34400002,1,2,-1.9067,-1.3354,-0.6576,1.1422,-0.5928,-0.8547,-1.3850,8.44013
257907,344,34400002,1,2,-1.9768,-1.3359,-1.3914,0.4637,0.7301,-0.8738,-0.6765,8.44013
257908,344,34400002,1,1,-2.5606,-1.4253,-0.6576,1.3423,-1.3186,-1.0974,-1.0425,8.44013
257909,344,34400002,2,1,-.3868,-1.1210,-1.5824,1.1422,-1.8489,-1.2865,-1.0654,7.47709
257910,344,34400002,2,1,-1.2306,-0.9500,-0.6576,-0.6870,-0.5928,-0.0614,-0.4450,7.47709
...,...,...,...,...,...,...,...,...,...,...,...,...
611999,704,70400152,2,7,-2.0073,-2.2580,-1.2973,-0.1300,98.0000,98.0000,-0.3258,282.26599
612000,704,70400152,1,7,-0.9587,-1.6809,0.2127,-0.9295,98.0000,98.0000,-0.2812,282.26599
612001,704,70400152,1,7,-3.1772,-3.8509,-0.6576,-0.1300,98.0000,98.0000,0.1403,282.26599
612002,704,70400152,2,7,-1.7318,-2.8136,-1.4902,0.1097,98.0000,98.0000,-0.6115,282.26599
612003,704,70400152,2,7,-0.6693,-1.4397,1.0346,-1.4242,98.0000,98.0000,-0.5664,282.26599

In [ ]:
# and delete all samples from Vietnam(id=704) and Belgium(id=56) since the dataset has invalid values more than 40%
# df = pd.DataFrame(data)
# df = df.drop(df[df['CNTRYID']==56].index)

In [ ]:
# df = df.drop(df[df['CNTRYID']==704].index)

In [20]:
df = df.replace(r'^\s*$', np.nan, regex=True) # Replacing blank values (white space) with NaN
# df = df.dropna() # drop all nan

In [21]:
df.shape

(61426, 12)

In [22]:

# change all object type to numeric type to calculate the correlation
df['ESCS'] = pd.to_numeric(df['ESCS'])
df['ST004D01T'] = pd.to_numeric(df['ST004D01T'])
df['IC001Q04TA'] = pd.to_numeric(df['IC001Q04TA'])

In [23]:
df['ST004D01T'].where(df['ST004D01T'] <= 2, np.nan, inplace=True)

In [24]:
df['IC001Q04TA'].where(df['IC001Q04TA'] <= 3, np.nan, inplace=True)

In [25]:
df

,CNTRYID,CNTSCHID,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,W_FSTUWT
257906,344,34400002,1,2.0,-1.9067,-1.3354,-0.6576,1.1422,-0.5928,-0.8547,-1.3850,8.44013
257907,344,34400002,1,2.0,-1.9768,-1.3359,-1.3914,0.4637,0.7301,-0.8738,-0.6765,8.44013
257908,344,34400002,1,1.0,-2.5606,-1.4253,-0.6576,1.3423,-1.3186,-1.0974,-1.0425,8.44013
257909,344,34400002,2,1.0,-0.3868,-1.1210,-1.5824,1.1422,-1.8489,-1.2865,-1.0654,7.47709
257910,344,34400002,2,1.0,-1.2306,-0.9500,-0.6576,-0.6870,-0.5928,-0.0614,-0.4450,7.47709
...,...,...,...,...,...,...,...,...,...,...,...,...
611999,704,70400152,2,NaN,-2.0073,-2.2580,-1.2973,-0.1300,98.0000,98.0000,-0.3258,282.26599
612000,704,70400152,1,NaN,-0.9587,-1.6809,0.2127,-0.9295,98.0000,98.0000,-0.2812,282.26599
612001,704,70400152,1,NaN,-3.1772,-3.8509,-0.6576,-0.1300,98.0000,98.0000,0.1403,282.26599
612002,704,70400152,2,NaN,-1.7318,-2.8136,-1.4902,0.1097,98.0000,98.0000,-0.6115,282.26599
612003,704,70400152,2,NaN,-0.6693,-1.4397,1.0346,-1.4242,98.0000,98.0000,-0.5664,282.26599

In [26]:
weight = df['W_FSTUWT']
df.drop('W_FSTUWT',axis=1,inplace=True)

In [27]:
# replace all invlaid values larger than 90 with nan
mask = (df < 90)
mask['weight'] = weight
a = df[mask]
a['weight'] = weight
# temp = a.dropna(subset=['GFOFAIL','WEALTH','RESILIENCE','BELONG','SWBP','ST004D01T','IC001Q04TA','ESCS','EMOSUPS','SWBP'])

In [28]:
a.drop(["CNTRYID","CNTSCHID"],axis=1,inplace=True)

In [29]:
a

,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,weight
257906,1,2.0,-1.9067,-1.3354,-0.6576,1.1422,-0.5928,-0.8547,-1.3850,8.44013
257907,1,2.0,-1.9768,-1.3359,-1.3914,0.4637,0.7301,-0.8738,-0.6765,8.44013
257908,1,1.0,-2.5606,-1.4253,-0.6576,1.3423,-1.3186,-1.0974,-1.0425,8.44013
257909,2,1.0,-0.3868,-1.1210,-1.5824,1.1422,-1.8489,-1.2865,-1.0654,7.47709
257910,2,1.0,-1.2306,-0.9500,-0.6576,-0.6870,-0.5928,-0.0614,-0.4450,7.47709
...,...,...,...,...,...,...,...,...,...,...
611999,2,NaN,-2.0073,-2.2580,-1.2973,-0.1300,NaN,NaN,-0.3258,282.26599
612000,1,NaN,-0.9587,-1.6809,0.2127,-0.9295,NaN,NaN,-0.2812,282.26599
612001,1,NaN,-3.1772,-3.8509,-0.6576,-0.1300,NaN,NaN,0.1403,282.26599
612002,2,NaN,-1.7318,-2.8136,-1.4902,0.1097,NaN,NaN,-0.6115,282.26599
612003,2,NaN,-0.6693,-1.4397,1.0346,-1.4242,NaN,NaN,-0.5664,282.26599

In [30]:
a.to_csv("data4.csv")

In [32]:
data.columns

TypeError: ignored

In [ ]:
from sklearn.impute import KNNImputer
knn_imputer = KNNImputer(n_neighbors=5)

a = knn_imputer.fit_transform(a)

KeyboardInterrupt: ignored

In [ ]:
# delete any rows contains value larger than 90
# since any value larger than 90 is invalid

mask = (df < 90)
# replacing all values larger than 90 with the average of each school
temp = df[mask].loc[:,'ST004D01T':'BELONG']

temp = temp.fillna(df.groupby('CNTSCHID').transform('mean'))

In [ ]:
# since some shools has all invalid values, we replace them with the average of a country
mask = (temp < 90)
# replacing all values larger than 90 with the average of each school
temp = temp.fillna(df.groupby('CNTRYID').transform('mean'))

In [ ]:
temp['W_FSTUWT'] = df['W_FSTUWT']

In [ ]:
temp

,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,W_FSTUWT
0,2,1,0.6747,-0.0996,0.212700,-0.687000,1.238600,0.369300,-0.213300,13.51452
1,2,2,-0.7566,-0.7221,-2.085100,-0.613300,1.238600,-0.468400,-0.084500,13.51452
2,1,3,-2.5112,-3.6051,0.636400,-0.613300,1.238600,-1.524800,-0.082400,9.50669
3,2,1,-3.1843,-7.0376,1.034600,-0.687000,0.186900,-0.061400,-0.035800,13.51452
4,2,1,-1.7557,-1.8375,-0.657600,0.109700,1.238600,2.369300,0.170400,13.51452
...,...,...,...,...,...,...,...,...,...,...
606622,2,7,0.3160,-0.1357,10.542555,10.729390,10.134993,10.522897,9.640938,540.05761
606623,1,7,0.6358,1.7449,10.542555,10.729390,10.134993,10.522897,9.640938,528.52823
606624,2,7,1.2089,4.2599,99.000000,99.000000,99.000000,99.000000,99.000000,1340.35293
606625,2,7,-0.6576,-0.5452,99.000000,99.000000,99.000000,99.000000,99.000000,1340.35293
606626,2,7,2.0664,4.2599,7.715838,4.307504,11.430604,7.972719,3.458588,967.64966

In [ ]:
weight = temp['W_FSTUWT']
temp.drop('W_FSTUWT',axis=1,inplace=True)

In [ ]:
mask1 = (temp < 90)
mask1['weight'] = weight
a = temp[mask1]
a['weight'] = weight
temp2 = a.dropna(subset=['GFOFAIL','WEALTH','RESILIENCE','BELONG','SWBP','ST004D01T','IC001Q04TA','ESCS','EMOSUPS','SWBP'])

In [ ]:
temp2

,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,weight
0,2,1,0.6747,-0.0996,0.212700,-0.687000,1.238600,0.369300,-0.213300,13.51452
1,2,2,-0.7566,-0.7221,-2.085100,-0.613300,1.238600,-0.468400,-0.084500,13.51452
2,1,3,-2.5112,-3.6051,0.636400,-0.613300,1.238600,-1.524800,-0.082400,9.50669
3,2,1,-3.1843,-7.0376,1.034600,-0.687000,0.186900,-0.061400,-0.035800,13.51452
4,2,1,-1.7557,-1.8375,-0.657600,0.109700,1.238600,2.369300,0.170400,13.51452
...,...,...,...,...,...,...,...,...,...,...
606620,1,7,-2.0923,-1.6000,5.802477,6.016634,5.305149,5.702580,5.393403,460.85195
606621,1,7,0.9271,-0.1800,10.542555,10.729390,10.134993,10.522897,9.640938,528.52823
606622,2,7,0.3160,-0.1357,10.542555,10.729390,10.134993,10.522897,9.640938,540.05761
606623,1,7,0.6358,1.7449,10.542555,10.729390,10.134993,10.522897,9.640938,528.52823
606626,2,7,2.0664,4.2599,7.715838,4.307504,11.430604,7.972719,3.458588,967.64966

In [ ]:
# we already deal with invalid values that larger than 90
# now we need to deal with invalid values that lager than 4
temp2 = temp2.loc[temp2['IC001Q04TA']<4]

temp2 = temp2.loc[temp2['ST004D01T']<3]

In [ ]:
temp2

,ST004D01T,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,SWBP,RESILIENCE,BELONG,weight
0,2,1,0.6747,-0.0996,0.2127,-0.6870,1.2386,0.3693,-0.2133,13.51452
1,2,2,-0.7566,-0.7221,-2.0851,-0.6133,1.2386,-0.4684,-0.0845,13.51452
2,1,3,-2.5112,-3.6051,0.6364,-0.6133,1.2386,-1.5248,-0.0824,9.50669
3,2,1,-3.1843,-7.0376,1.0346,-0.6870,0.1869,-0.0614,-0.0358,13.51452
4,2,1,-1.7557,-1.8375,-0.6576,0.1097,1.2386,2.3693,0.1704,13.51452
...,...,...,...,...,...,...,...,...,...,...
606583,1,1,0.2900,0.7740,-0.6576,0.4637,0.5012,-0.0614,-0.3184,1161.77979
606584,1,1,-0.3287,-0.1200,-2.0819,1.8905,-1.3959,-1.5350,-1.8611,810.51029
606585,2,1,-2.0076,-1.3099,1.0346,0.4637,1.2386,-0.5536,-1.4766,748.32280
606586,1,1,-0.0691,-0.3349,1.0346,1.1422,-0.5928,-0.1433,-1.0491,810.51029
606587,1,1,-0.1329,-0.1570,0.2127,-1.8939,0.1869,-0.0614,2.7249,810.51029

In [ ]:
temp2.to_csv("data2.csv")

In [ ]:
## save the dataset we need to a csv file
# df[[]].to_csv("data_subset.csv")

In [ ]:
# check if deleting all nans
temp.isna().sum()

ST004D01T     0
IC001Q04TA    0
ESCS          0
WEALTH        0
EMOSUPS       0
GFOFAIL       0
SWBP          0
RESILIENCE    0
BELONG        0
dtype: int64

In [ ]:
# check the correlation among all variables
df.corr()

,ST004D01T,ST216Q03HA,IC001Q04TA,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
ST004D01T,1.000000,-0.056285,0.024200,0.021985,0.001477,0.025254,-0.079749,-0.153858,0.023170,0.007950,0.016550
ST216Q03HA,-0.056285,1.000000,0.045295,-0.059479,-0.098718,-0.079684,-0.137393,0.135016,-0.319046,-0.185577,-0.195096
IC001Q04TA,0.024200,0.045295,1.000000,-0.178039,-0.309483,-0.359884,-0.090546,-0.008740,-0.025828,-0.054400,-0.075262
HISCED,0.021985,-0.059479,-0.178039,1.000000,0.783221,0.334470,0.070089,0.000980,0.033242,0.112023,0.043826
ESCS,0.001477,-0.098718,-0.309483,0.783221,1.000000,0.667454,0.136971,0.024646,0.074975,0.179948,0.096773
WEALTH,0.025254,-0.079684,-0.359884,0.334470,0.667454,1.000000,0.115105,0.029425,0.059981,0.100221,0.114580
EMOSUPS,-0.079749,-0.137393,-0.090546,0.070089,0.136971,0.115105,1.000000,-0.025714,0.307471,0.159518,0.259570
GFOFAIL,-0.153858,0.135016,-0.008740,0.000980,0.024646,0.029425,-0.025714,1.000000,-0.125057,-0.001484,-0.178724
RESILIENCE,0.023170,-0.319046,-0.025828,0.033242,0.074975,0.059981,0.307471,-0.125057,1.000000,0.301858,0.313197
GCSELFEFF,0.007950,-0.185577,-0.054400,0.112023,0.179948,0.100221,0.159518,-0.001484,0.301858,1.000000,0.128204
BELONG,0.016550,-0.195096,-0.075262,0.043826,0.096773,0.114580,0.259570,-0.178724,0.313197,0.128204,1.000000

In [ ]:
# check for multilinearity among all variables 
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
X = df[columns]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

       feature        VIF
0      GFOFAIL   1.075630
1       WEALTH   2.283620
2   RESILIENCE   1.341328
3       BELONG   1.191673
4       HISCED  14.859314
5    ST004D01T   8.780753
6   IC001Q04TA   7.416169
7    GCSELFEFF   1.145078
8         ESCS   3.571231
9      EMOSUPS   1.166752
10  ST216Q03HA   6.302945

In [ ]:
# the vif 'HISCED' is too high
# so this variable is not appropriate using in the regression model

df.drop(['HISCED'], axis=1)

,ST004D01T,ST216Q03HA,IC001Q04TA,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG
0,2,1.0,1,0.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133
1,2,2.0,2,-0.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845
2,1,5.0,3,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824
3,2,2.0,1,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358
4,2,2.0,1,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704
...,...,...,...,...,...,...,...,...,...,...
601764,2,3.0,1,-1.8751,-0.6935,-0.6576,-1.8939,-0.0614,0.1904,-0.1182
601769,2,3.0,1,-3.0210,-2.4741,-0.6576,-1.8939,2.3693,0.1904,-0.9879
601774,2,3.0,2,-1.3621,-0.1630,-1.8624,-1.1597,-1.4033,-0.8238,-0.8735
601785,2,2.0,1,0.1740,-1.3599,1.0346,-0.9598,2.3693,0.1904,-0.6398
601786,1,1.0,1,-1.0585,-1.2544,1.0346,-1.4242,1.6438,1.3434,0.0289

In [ ]:
# in order to deal with the categorical variables
# we need to change the types to object

df['ST004D01T'] = df['ST004D01T'].astype(object)
df['ST216Q03HA'] = df['ST216Q03HA'].astype(object)
df['IC001Q04TA'] = df['IC001Q04TA'].astype(object)

In [ ]:
dfDummies = pd.get_dummies(df[['ST004D01T', 'ST216Q03HA', 'IC001Q04TA']], drop_first=True)
df = pd.concat([df, dfDummies], axis=1)
df.drop(['ST004D01T', 'ST216Q03HA', 'IC001Q04TA'], axis=1)

,HISCED,ESCS,WEALTH,EMOSUPS,GFOFAIL,RESILIENCE,GCSELFEFF,BELONG,ST004D01T_2,ST216Q03HA_2.0,ST216Q03HA_3.0,ST216Q03HA_4.0,ST216Q03HA_5.0,IC001Q04TA_2,IC001Q04TA_3
0,6.0,0.6747,-0.0996,0.2127,-0.6870,0.3693,-0.4609,-0.2133,1,0,0,0,0,0,0
1,2.0,-0.7566,-0.7221,-2.0851,-0.6133,-0.4684,0.7623,-0.0845,1,1,0,0,0,1,0
2,2.0,-2.5112,-3.6051,0.6364,-0.6133,-1.5248,-0.9477,-0.0824,0,0,0,0,1,0,1
3,2.0,-3.1843,-7.0376,1.0346,-0.6870,-0.0614,0.3313,-0.0358,1,1,0,0,0,0,0
4,4.0,-1.7557,-1.8375,-0.6576,0.1097,2.3693,0.6965,0.1704,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601764,2.0,-1.8751,-0.6935,-0.6576,-1.8939,-0.0614,0.1904,-0.1182,1,0,1,0,0,0,0
601769,4.0,-3.0210,-2.4741,-0.6576,-1.8939,2.3693,0.1904,-0.9879,1,0,1,0,0,0,0
601774,2.0,-1.3621,-0.1630,-1.8624,-1.1597,-1.4033,-0.8238,-0.8735,1,0,1,0,0,1,0
601785,6.0,0.1740,-1.3599,1.0346,-0.9598,2.3693,0.1904,-0.6398,1,1,0,0,0,0,0
601786,4.0,-1.0585,-1.2544,1.0346,-1.4242,1.6438,1.3434,0.0289,0,0,0,0,0,0,0

In [ ]:
# so that's all culumns we got
df.columns

Index(['ST004D01T', 'ST216Q03HA', 'IC001Q04TA', 'HISCED', 'ESCS', 'WEALTH',
       'EMOSUPS', 'GFOFAIL', 'RESILIENCE', 'GCSELFEFF', 'BELONG',
       'ST004D01T_2', 'ST216Q03HA_2.0', 'ST216Q03HA_3.0', 'ST216Q03HA_4.0',
       'ST216Q03HA_5.0', 'IC001Q04TA_2', 'IC001Q04TA_3'],
      dtype='object')

In [ ]:
# Do the standardized and save the file

In [ ]:
df2 = df.copy()

In [ ]:
# scaler = StandardScaler()
# scaler.fit(df)
# df2 = scaler.transform(df2)
# df22 = pd.DataFrame(df2)
# df22

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-28.376886,-9.584227,-51.135995,-7.817539,1.445547,1.568110,0.343623,-0.847019,0.059229,-0.418104,-0.040948,1.643795,-26.432690,-27.065557,-54.080296,-225.266162,-244.287854,-132.323131
1,-28.376886,-8.790525,-2.234735,-8.434375,0.292542,1.043817,-1.933404,-0.770526,-0.773239,0.708388,0.083578,1.643795,14.871678,-27.065557,-54.080296,-225.266162,6374.097220,-132.323131
2,-60.410657,-6.409422,46.666525,-8.434375,-1.120901,-1.384355,0.763492,-0.770526,-1.823042,-0.866417,0.085608,-30.389976,-26.432690,-27.065557,-54.080296,5477.407653,-244.287854,1972.804234
3,-28.376886,-8.790525,-51.135995,-8.434375,-1.663127,-4.275337,1.158092,-0.847019,-0.368781,0.311464,0.130662,1.643795,14.871678,-27.065557,-54.080296,-225.266162,-244.287854,-132.323131
4,-28.376886,-8.790525,-51.135995,-8.125957,-0.512297,0.104385,-0.518809,-0.020122,2.046740,0.647790,0.330019,1.643795,14.871678,-27.065557,-54.080296,-225.266162,-244.287854,-132.323131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231853,-28.376886,-7.996824,-51.135995,-8.434375,-0.608482,1.067905,-0.518809,-2.099666,-0.368781,0.181703,0.050996,1.643795,-26.432690,24.902115,-54.080296,-225.266162,-244.287854,-132.323131
231854,-28.376886,-7.996824,-51.135995,-8.125957,-1.531578,-0.431784,-0.518809,-2.099666,2.046740,0.181703,-0.789844,1.643795,-26.432690,24.902115,-54.080296,-225.266162,-244.287854,-132.323131
231855,-28.376886,-7.996824,-2.234735,-8.434375,-0.195227,1.514712,-1.712717,-1.337637,-1.702301,-0.752313,-0.679241,1.643795,-26.432690,24.902115,-54.080296,-225.266162,6374.097220,-132.323131
231856,-28.376886,-8.790525,-51.135995,-7.817539,1.042201,0.506637,1.158092,-1.130160,2.046740,0.181703,-0.453295,1.643795,14.871678,-27.065557,-54.080296,-225.266162,-244.287854,-132.323131
231857,-60.410657,-9.584227,-51.135995,-8.125957,0.049343,0.595493,1.158092,-1.612162,1.325770,1.243546,0.193215,-30.389976,-26.432690,-27.065557,-54.080296,-225.266162,-244.287854,-132.323131

In [ ]:
# df22.columns = list(df)
# df22.to_csv("data_sd.csv")

# Linear Regression model

In [ ]:
## we had finished the data pre-processing
## In order to not doing the repeated work, we save the dataset as data_x.csv and data_y.csv

In [ ]:
# Y = df['GFOFAIL']
# X = df.iloc[:, df.columns != 'GFOFAIL']

In [ ]:
# X.to_csv("data_x.csv")
# Y.to_csv("data_y.csv")

In [ ]:
X = pd.read_csv('data_x.csv')
Y = pd.read_csv('data_y.csv')

In [ ]:
# standarlized the dataset
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [ ]:
# split into training and testing datasets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=53)

In [ ]:
y_test

        Unnamed: 0  GFOFAIL
101084      270224   0.4637
153855      386333   0.4637
175867      471066  -0.5722
205851      559182   0.0520
104252      274083  -0.4342
...            ...      ...
154301      386793   1.8905
231014      600050   0.4637
193369      542198   0.4637
139029      352724   0.4637
215896      576032  -0.3799

[46372 rows x 2 columns]

In [ ]:
## construct linear regression model
clf = LinearRegression().fit(x_train,y_train)
 
## predicted values
y_pred = clf.predict(x_test)

In [ ]:
print("coefficients =",clf.coef_)    # coefficients
print("intercept b =",clf.intercept_) # intercept
print('Mean Absolute Error =', mean_absolute_error(y_test, y_pred))
print('Mean Squared Error =', mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error =', np.sqrt(mean_squared_error(y_test, y_pred)))
print('R2 Score:', r2_score(y_test, y_pred))

coefficients = [[ 1.72796168e+05 -1.20945803e-02  2.19104525e+02 -7.88683760e+01
   5.08951065e-11 -7.51880484e-11  3.20639829e-11  4.82958126e-11
  -2.20927660e-11 -1.22706743e-10  3.74135286e-11  1.20945804e-02
  -9.93993527e+01 -1.89874261e+02 -1.95010297e+02 -1.48397655e+02
   2.95540158e+01  7.43260800e+01]
 [ 4.11220775e-02  1.41320120e+05 -2.56014614e+09  9.21544492e+08
  -3.67372445e-02  4.38976605e-02  4.52960835e-02  2.14383315e-02
  -6.70851611e-02  4.38917838e-02 -1.52575840e-01 -1.41320262e+05
   1.16144050e+09  2.21860254e+09  2.27861501e+09  1.73396548e+09
  -3.45326504e+08 -8.68469635e+08]]
intercept b = [3.17975491e+05 2.69283009e-02]
Mean Absolute Error = 0.37664059114938137
Mean Squared Error = 0.4538383839264419
Root Mean Squared Error = 0.6736752807743815
R2 Score: 0.5381306434937887

# Lasso Regression Model

In [ ]:
lasso=Lasso(alpha=0.1,max_iter=10000)
lasso.fit(x_train,y_train)
print("Lasso training dataset score："+str(r2_score(y_train,lasso.predict(x_train))))
print("Lasso testing dataset score："+str(r2_score(y_test,lasso.predict(x_test))))

Lasso training dataset score：0.5188123088202
Lasso testing dataset score：0.5186387123638423

算一下缺失值是否小于5%一下。otherwise，要看下是不是系统性缺失